@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  
  overflow-x: hidden;
}
nav{
  /* background-color: rgba(13, 12, 12, 0.647); */
}
.bgs{
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
nav{
    font-family: 'Poppins', sans-serif;
}
span {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  
  transform: translate(-50%,-50%);
  background-image: linear-gradient(gold, gold);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
   transition: background-size .7s, background-position .5s ease-in-out;
}

span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}
.heroh1{
    font-size: 72px;
  background: -webkit-linear-gradient(gold, #8E3200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
hr{
  border-style:dotted none none;
    
    width: 5%;
    border-color: grey;
  
}

